* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #080808;
  color: white;
}

.container-main {
  margin: auto;
}
.container-main #header {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: top;
}
.container-main #header .container {
  padding: 10px 8%;
}
.container-main #header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-main #header .container nav .fa-bars,
.container-main #header .container nav .fa-circle-xmark {
  display: none;
}
.container-main #header .container nav .logo {
  width: 200px;
  fill: #ff004f;
}
.container-main #header .container nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 10px 20px;
}
.container-main #header .container nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
.container-main #header .container nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.container-main #header .container nav ul li a:hover::after {
  width: 100%;
}
.container-main #header .container .header-text {
  margin-top: 17%;
  font-size: 30px;
}
.container-main #header .container .header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.container-main #header .container .header-text h1 span {
  color: #ff004f;
}
.container-main #about .container {
  padding: 80px 8%;
}
.container-main #about .container .viewmarquee {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}
.container-main #about .container .viewmarquee .marquee {
  overflow: hidden;
  display: flex;
  gap: 9rem;
  width: 70%;
  padding: 10px 0;
}
.container-main #about .container .viewmarquee .marquee .text {
  display: flex;
  gap: 9rem;
  animation: marquee 10s linear infinite both;
  padding-right: 50px;
}
.container-main #about .container .viewmarquee .marquee .text .text1 img {
  width: 5rem; /* Adjust size */
  height: auto;
  filter: invert(1) brightness(2) contrast(2);
  padding: 5px;
}
.container-main #about .container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-main #about .container .row .about-col-1 {
  flex-basis: 35%;
}
.container-main #about .container .row .about-col-1 .about-img {
  width: 100%;
  border-radius: 15px;
}
.container-main #about .container .row .about-col-2 {
  flex-basis: 60%;
}
.container-main #about .container .row .about-col-2 .sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.container-main #about .container .row .about-col-2 p {
  line-height: 1.7;
}
.container-main #about .container .row .about-col-2 p span {
  font-style: italic;
  font-weight: 700;
  color: #ff004f;
}
.container-main #about .container .row .about-col-2 .tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.container-main #about .container .row .about-col-2 .tab-titles .tab-links {
  margin-right: 50px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.container-main #about .container .row .about-col-2 .tab-titles .tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.container-main #about .container .row .about-col-2 .tab-titles .tab-links.active-link:after {
  width: 50%;
}
.container-main #about .container .row .about-col-2 .tab-contents {
  display: none;
}
.container-main #about .container .row .about-col-2 .tab-contents ul li {
  list-style-type: none;
  margin: 10px 0;
}
.container-main #about .container .row .about-col-2 .tab-contents ul li span {
  color: #b54769;
  font-size: 14px;
}
.container-main #about .container .row .about-col-2 .active-tab {
  display: block;
}
.container-main #services .container {
  padding: 80px 8%;
}
.container-main #services .container .sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.container-main #services .container .services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.container-main #services .container .services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.container-main #services .container .services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.container-main #services .container .services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.container-main #services .container .services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.container-main #services .container .services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}
.container-main #portfolio .container {
  padding: 80px 8%;
}
.container-main #portfolio .container .sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.container-main #portfolio .container .work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.container-main #portfolio .container .work-list .work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 70vh;
}
.container-main #portfolio .container .work-list .work img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.container-main #portfolio .container .work-list .work .layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}
.container-main #portfolio .container .work-list .work .layer h3 {
  font-weight: 700;
  margin-bottom: 20px;
}
.container-main #portfolio .container .work-list .work .layer p {
  font-size: 14px;
}
.container-main #portfolio .container .work-list .work .layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.container-main #portfolio .container .work-list .work:hover img {
  transform: scale(1.1);
}
.container-main #portfolio .container .work-list .work:hover .layer {
  height: 100%;
}
.container-main #portfolio .container .btn {
  display: block;
  margin: 50px auto;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.container-main #portfolio .container .btn:hover {
  background: #ff004f;
}
.container-main #contact .container {
  padding: 80px 8%;
}
.container-main #contact .container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-main #contact .container .row .contact-left {
  flex-basis: 35%;
}
.container-main #contact .container .row .contact-left .sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.container-main #contact .container .row .contact-left p {
  margin-top: 30px;
}
.container-main #contact .container .row .contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.container-main #contact .container .row .contact-left .social-icons {
  margin-top: 30px;
}
.container-main #contact .container .row .contact-left .social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.container-main #contact .container .row .contact-left .social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.container-main #contact .container .row .contact-left .btn {
  display: block;
  margin: 50px auto;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.container-main #contact .container .row .contact-left .btn:hover {
  background: #ff004f;
}
.container-main #contact .container .row .contact-left .btn2 {
  display: inline-block;
}
.container-main #contact .container .row .contact-right {
  flex-basis: 60%;
}
.container-main #contact .container .row .contact-right form {
  width: 100%;
}
.container-main #contact .container .row .contact-right form input {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  font-size: 18px;
  border-radius: 6px;
  color: white;
}
.container-main #contact .container .row .contact-right form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  font-size: 18px;
  border-radius: 6px;
  color: #fff;
}
.container-main #contact .container .row .contact-right form .btn {
  display: block;
  background: #ff004f;
  margin: 50px auto;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.container-main #contact .container .row .contact-right form .btn:hover {
  background: #ff004f;
}
.container-main #contact .container .row .contact-right form .btn2 {
  display: inline-block;
  padding: 14px 60px;
  margin-top: 20px;
  cursor: pointer;
}
.container-main #contact .container .row .contact-right span {
  color: #61b752;
  margin-top: -10px;
  display: block;
}
.container-main #contact .copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.container-main #contact .copyright i {
  color: #ff004f;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 600px) {
  .container-main #header {
    background-image: url(./assets/phone-background.png);
  }
  .container-main #header .container nav .fa-bars,
  .container-main #header .container nav .fa-circle-xmark {
    display: block;
    font-size: 25px;
  }
  .container-main #header .container nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  .container-main #header .container nav ul li {
    display: block;
    margin: 25px;
  }
  .container-main #header .container nav ul i {
    position: absolute;
    left: 25px;
    top: 25px;
    cursor: pointer;
  }
  .container-main #header .container .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .container-main #header .container .header-text h1 {
    font-size: 30px;
  }
  .container-main #about .container .viewmarquee .marquee {
    width: 100%;
    gap: 5rem;
  }
  .container-main #about .container .viewmarquee .marquee .text {
    gap: 5rem;
  }
  .container-main #about .container .row .about-col-1 {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .container-main #about .container .row .about-col-2 {
    font-size: 14px;
    flex-basis: 100%;
  }
  .container-main #about .container .row .about-col-2 .sub-title {
    font-size: 40px;
  }
  .container-main #about .container .row .about-col-2 .tab-titles .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .container-main #contact .container .row .contact-left {
    flex-basis: 100%;
  }
  .container-main #contact .container .row .contact-right {
    flex-basis: 100%;
  }
  .container-main .copyright p {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */